h1{
  text-align: center;
}
body{
  background-color: grey;
}
/* Container */
.profile {
  width: 400px;
  margin: 40px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Heading */
.name {
  color: #2c3e50;
  font-size: 28px;
  margin-bottom: 15px;
}

/* Image */
.profile-img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 15px;
}

/* Paragraph */
.info {
  font-size: 15px;
  color: #555;
  line-height: 1.6;
}
.card-container {
  display: flex;
  gap: 30px;                 /* space between cards */
  justify-content: center;   /* center horizontally */
  flex-wrap: wrap;           /* responsive: next line if no space */
  padding: 40px;
}
